---
import Layout from "../layouts/Layout.astro";
import Header from "../components/ui/Header.astro";
import Footer from "../components/ui/Footer.astro";
---

<Layout>
  <div class="p-8 mx-auto">
    <Header />
    <main class="mx-auto px-4">
      <h2 class="text-4xl my-24 font-black">ABOUT</h2>
      <section class="mb-16">
        <p class="mb-8">
          Webデザイナー・グラフィックデザイナーのあざらしらです。
          <br />湘南に住んでいます。
        </p>
        <p class="mb-8">
          出版社のインハウスWebデザイナーを経て、2025年より本格的にフリーランス活動を開始しました。
        </p>
        <p class="mb-8">
          Webデザインと同人誌の装丁デザインが得意です。イラストも描きます。<br
          />
          商業・同人問わず、作品や創作活動の世界観を活かしたデザインを作るのが大好きです。
        </p>
        <p class="mb-8">
          ご希望を詳細に伺っての制作／私の感性にお任せいただいての制作、どちらも大歓迎です。<br
          />
          企業様・個人様問わずご依頼を受け付けております。
        </p>
        <p class="mb-8">
          できること：<br />
          Webデザイン、同人誌の装丁デザイン、ロゴデザイン、イラスト
        </p>
        <p class="mb-8">
          できる実装：<br />
          Astro、WordPress、HTML、CSS(Sass）、java script、PHP、ヘッドレスCMS（micro
          cms）
        </p>
        <p class="mb-8">
          ご連絡は下記メールアドレス・またはお問い合わせフォームよりご連絡ください。<br
          />内容によってはお返事できない場合もございますが、ご了承ください。
        </p>
      </section>

      <details class="mb-16">
        <summary
          class="mb-4 border-b-2 border-solid border-main text-main px-2 w-fit"
          >ご依頼について</summary
        >
        <section class="mb-16">
          <h3 class="mb-8 font-bold">Webサイトについて</h3>
          <p class="mb-8">
            ポートフォリオサイトやプロフィールサイト・イベント特設サイトやLPの制作が得意です。
          </p>
          <p class="mb-8">
            制作費用は案件によって異なりますが、一般的なポートフォリオサイトの構成で10万円（税別）から、<br
            />イベント特設サイト・LPで8万円（税別）からが目安となります。<br
            />そこからご予算や機能的な要件に応じて検討させていただきます。
          </p>
          <p class="mb-8">コーディングのみのご依頼もお受けいたします。</p>
          <p class="mb-8">納期は受注成立から1ヶ月からが目安です。</p>
        </section>
        <section class="mb-16">
          <h3 class="mb-8 font-bold">同人誌デザインについて</h3>
          <p class="mb-8">
            全年齢・成人向け、一次創作・二次創作いずれもお受けいたします。
          </p>
          <p class="mb-8">
            制作費用は案件によって異なりますが、表紙・裏表紙のデザインで1万円（税別）から、<br
            />誌面レイアウト見開き1Pにつき1万円（税別）からが目安となります。<br
            />そこから特殊装丁の有無などに応じて検討させていただきます。
          </p>
          <p class="mb-8">納期は受注成立から1週間前後が目安です。</p>
        </section>
        <section class="mb-16">
          <p class="mb-8">
            お見積り・お問い合わせはメールアドレス、またはお問い合わせフォームよりお気軽にご連絡ください。<br
            />
            またSKIMA、ココナラでもご依頼を受け付けております。各プラットフォームよりお問い合わせください。
          </p>
        </section>
      </details>

      <section class="mb-16">
        <h2 class="mb-8 font-black">CONTACT</h2>
        <p class="mb-4">Email: azarashira1115@gmail.com</p>
        <p class="mb-4">
          <a
            class="rounded px-2 py-0.5 text-base bg-main border border-main hover:bg-base hover:text-main"
            href="https://tayori.com/form/ae8895aa5e43108927cbf8ee95926f3479736427/"
            >お問い合わせフォーム</a
          >
        </p>
        <p>
          <a
            class="rounded px-2 py-0.5 text-base bg-main border border-main hover:bg-base hover:text-main"
            href="https://skima.jp/profile?id=464935">SKIMA</a
          >
          <a
            class="rounded px-2 py-0.5 text-base bg-main border border-main hover:bg-base hover:text-main"
            href="https://coconala.com/users/4607123">ココナラ</a
          >
        </p>
      </section>
    </main>
    <Footer />
  </div>
</Layout>
