<nav class="flex items-center justify-between">
  <small>©︎ AZARASHIRA</small>
  <ul class="flex gap-x-4">
    <li>
      <a
        href="/"
        class="rounded px-2 py-0.5 text-base bg-main border border-main hover:bg-base hover:text-main"
        >WORKS</a
      >
    </li>
    <li>
      <a
        href="about"
        class="rounded px-2 py-0.5 text-base bg-main border border-main hover:bg-base hover:text-main"
        >ABOUT</a
      >
    </li>
  </ul>
</nav>
