<header class="mb-8">
  <nav class="sm:flex items-center justify-between">
    <h1>
      <a href="/" class="flex items-center mb-2"
        ><span
          ><img
            src="/icon.png"
            alt="アイコン"
            class="w-5 object-contain"
          /></span
        >
        <span class="font-black">AZARASHIRA DESIGN</span></a
      >
    </h1>
    <ul class="flex gap-x-2 sm:gap-x-4 justify-end mb-4">
      <li>
        <a
          href="/"
          class="rounded px-2 py-0.5 text-base bg-main border border-main hover:bg-base hover:text-main"
          >WORKS</a
        >
      </li>
      <li>
        <a
          href="about"
          class="rounded px-2 py-0.5 text-base bg-main border border-main hover:bg-base hover:text-main"
          >ABOUT</a
        >
      </li>
      <li>
        <a
          class="rounded px-2 py-0.5 text-base bg-main border border-main hover:bg-base hover:text-main"
          href="https://tayori.com/form/ae8895aa5e43108927cbf8ee95926f3479736427/"
          >CONTACT</a
        >
      </li>
    </ul>
  </nav>

  <p class="text-sm">
    『これが欲しかった！』をお手伝いします。<br
    />クリエイターのための、作品・創作活動の世界観重視のWeb・グラフィックデザイン。
  </p>
</header>
